@import '_variables.scss';
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  background-image: url(../../media/blue_bg_clarity_HD.jpg);
  background-repeat: repeat;
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 400px;
  min-height: auto;
}

.wrapContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.aligner{
  display: flex;
  align-items: center;
  justify-content: center; 
}

.jumbotron{
  background-color: white;
  padding: 0;
}
.jumboResp{
  font-size: 4vw;
  font-weight: bold;
  height: 100%;
}

.aligner-item{
  max-width: 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body, h1, h2, h3, h4, p, Label{
  font-family: sans-serif;
}
Button, Input{
  border-radius: 8px !important;

}

.loginBtn {
  border-radius: 8px !important;
  height: 50px !important;
  min-width: 200px;
  max-width: 200px;
  color:black !important; 
  margin: 10px;
  font-size: 1.2em;
}

.whiteBtn {
  background-color: white !important;
  margin: 10px;
}

.textWhite {
  color: white;
}

.titleSpacing {
  margin-top: 10px;
}

.titleFontSize {
  font-size: 100px;
  font-family: sans-serif;
}

.centerText {
  text-align: center;
  margin: 5px;
}

.textWhite {
  color: white;
}

.titleFontSize {
  font-size: 100px;
  font-family: sans-serif;
}

.welcomeText {
  font-size: 40px;
  font-family: sans-serif;
}

.pleaseLoginText {
  font-size: 25px;
  font-family: sans-serif;
}

.titleSpacing {
  margin-top: 10px;
}

.subHeaderFontSize {
  font-size: 65px;
  text-align: center;
}
.header{
  display: flex;
  flex: wrap;
  align-items: center !important;  
}

.formDiv {
  justify-content: flex-end;
}

@media (max-width: 767px){
  .inputFieldSize{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px !important;
    margin-right:20px;   
  }
}

@media(min-width: 768px){
  .inputFieldSize{
    height: 50px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 80px;
    border-radius: 8px !important;
  }
}

@media(min-width: 900px){
  .inputFieldSize{
    height: 50px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 80px;
    border-radius: 8px !important;
}
}

.textLarger{
  font-size: 3em;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-content: center;
}

.flexPatientInfo{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.patientP {
  font-size:small;
  margin: 0;
  padding: 0;
  text-align: center;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 140px;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;  
  margin-bottom: 70px; 
  background-color: red;
}

.buttonSection{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-image: url('../../media/blue_bg_clarity_HD.jpg');
}

.termBackground{
  background-image: url('../../media/blue_bg_clarity_HD.jpg');
  padding: 10px;
}

.button {
  margin: clamp(2px, 8px, 10px) !important;
  height: 50px;
  min-width: 75px !important;
  width: 20vw;
}

.idBox{
  min-width: 200px !important;
  padding: 3px;
}

.minReportHeight{

}

.questionsContainer{
  max-width: 800px !important;
  margin: auto;
}