@import '_variables.scss';
@import '~bootstrap/dist/css/bootstrap.min.css';



body {
  background-image: url(../../media/blue_bg_clarity_HD.jpg);
  background-repeat: repeat;
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 400px;
  min-height: auto;
}

.wrapContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.aligner{
  display: flex;
  align-items: center;
  justify-content: center; 
}

.jumbotron{
  background-color: white;
  padding: 0;
}
.jumboResp{
  font-size: 4vw;
  font-weight: bold;
  height: 100%;
}

.aligner-item{
  max-width: 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body, h1, h2, h3, h4, p, Label{
  font-family: sans-serif;
}
Button, Input{
  border-radius: 8px !important;

}

.loginBtn {
  border-radius: 8px !important;
  height: 50px !important;
  min-width: 200px;
  max-width: 200px;
  color:black !important; 
  margin: 10px;
  font-size: 1.2em;
}

.whiteBtn {
  background-color: white !important;
  margin: 10px;
}

.textWhite {
  color: white;
}

.titleSpacing {
  margin-top: 10px;
}

.titleFontSize {
  font-size: 100px;
  font-family: sans-serif;
}

.centerText {
  text-align: center;
  margin: 5px;
}

.textWhite {
  color: white;
}

.titleFontSize {
  font-size: 100px;
  font-family: sans-serif;
}

.welcomeText {
  font-size: 40px;
  font-family: sans-serif;
}

.pleaseLoginText {
  font-size: 25px;
  font-family: sans-serif;
}

.titleSpacing {
  margin-top: 10px;
}

.subHeaderFontSize {
  font-size: 65px;
  text-align: center;
}
.header{
  display: flex;
  flex: wrap;
  align-items: center !important;  
}

.formDiv {
  justify-content: flex-end;
}

@media (max-width: 767px){
  .inputFieldSize{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px !important;
    margin-right:20px;   
  }
}

@media(min-width: 768px){
  .inputFieldSize{
    height: 50px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 80px;
    border-radius: 8px !important;
  }
}

@media(min-width: 900px){
  .inputFieldSize{
    height: 50px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 80px;
    border-radius: 8px !important;
}
}

.textLarger{
  font-size: 3em;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-content: center;
}

.flexPatientInfo{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.patientP {
  font-size:small;
  margin: 0;
  padding: 0;
  text-align: center;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 140px;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;  
  margin-bottom: 70px; 
  background-image: url('../../media/blue_bg_clarity_HD.jpg') ;
}

.buttonSection{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-image: url('../../media/blue_bg_clarity_HD.jpg');
}

.termBackground{
  background-image: url('../../media/blue_bg_clarity_HD.jpg');
  padding: 10px;
}

.button {
  margin: clamp(1px, 3px, 8px) !important;
  height: 50px;
  min-width: 75px !important;
  width: 18vw;
}

.idBox{
  min-width: 200px !important;
  min-height:74px !important;
  padding-top: 6px !important;
  text-align: center;
  padding-bottom: 0 !important;
}

.questionsContainer{
  max-width: 800px !important;
  margin: auto;
}

.questionsContainerWide{
  max-width: 900px !important;
  margin: auto;
}

.reportMinHeight {
  min-height: 100vh;
}

.emptyFooterHeight{
  min-height:  50px;
}

.displayNone{
  display: None;
}

.questionLabelWidth{
  min-width: 147px;
}

textarea{
  border-radius: 7px;
  width: 600px;
}

.text-editor{
  background-color: white; 
}

#toolbar-container .ql-font span[data-label="Sans Serif"]::before {
  font-family: "Sans Serif";
}

#toolbar-container .ql-font span[data-label="Inconsolata"]::before {
  font-family: "Inconsolata";
}

#toolbar-container .ql-font span[data-label="Roboto"]::before {
  font-family: "Roboto";
}

#toolbar-container .ql-font span[data-label="Mirza"]::before {
  font-family: "Mirza";
}

#toolbar-container .ql-font span[data-label="Arial"]::before {
  font-family: "Arial";
}
/* Set content font-families */

.ql-font-inconsolata {
  font-family: "Inconsolata";
}

.ql-font-roboto {
  font-family: "Roboto";
}

.ql-font-mirza {
  font-family: "Mirza";
}

.ql-font-arial {
  font-family: "Arial";
}

.ql-toolbar:after {
  clear: none !important;
}

.interview_fieldData {
  min-height: 50px;
}

.fieldData {
  padding: 7px;
  text-align: left;
}

.labelWidth{
  width: 120px;
  text-align: right;
  margin-right: 10px;
  
}

.minWidthContainer{
  min-width: 500px;
  margin: 20px;
}

.checkBoxRow {
  display: flex;
  flex-direction: row;
  flex: auto;
  margin: 0;
  padding: 0;
}
.checkBoxdiv {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex: auto;
  align-items: center;
  margin: 4px;
  padding: 0px;
}

.checkItem {
  margin: 0 !important;
}

.tableHeader{
  background-color:#17a2b8;
  border: solid 1px rgb(21, 21, 21) !important;
  width: 300px !important;
  height: auto;
}
.tableBorder{
  border: solid 1px rgb(21, 21, 21) !important;
}

Table, tr, th, td{
  border: solid 1px rgb(21, 21, 21) !important;
  margin: 0 !important;
  padding: 3 !important;
}

tbody{
   background-color: white;
 }

 .tdHeaderWidth{
  width: 220px !important;
}

.thWidth{ 
  width: 80px;
}
.tdWidth{
  width: 150px !important;
}
.rowHeight{
 height: 60px;
}
.inputHeight{
  height: 40px;
}
th, td {
  text-align: center !important;
  vertical-align: middle !important;
}

.tableColumnHeader{
  width: 200px;
}

.customPadding{
  padding: 2px !important;
}

.customSelect{
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.domainScoreWidth{
  width: 140px !important;
}
.pauhasInput{
  min-height: 150px !important;
}
.textTeal{
  color: #64c9d8;
}
//Adding Scroll bar to pages where content runs off page
// /* width */
// ::-webkit-scrollbar {
//   width: 10px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: rgb(138, 209, 230);
//   border-radius: 10px;
  
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
//   border-radius: 10px;
// }
