#domainTableContainer {
  width: 1500px;
}

.domainsTable {
  cursor: pointer;
}

.lightorange {
  background-color: rgba(235, 218, 185, 0.749);
}

.lightgreen {
  background-color: rgba(207, 222, 182, 0.749);
}

.lightblue {
  background-color: rgba(220, 224, 240, 0.749);
}

.selected{
  background-color: red;
}