.siteBackground {
  background-image: url(../../media/blue_bg_clarity_HD.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


@media (max-width: 767px){
  .text-align{
  text-align: right;
  margin-right: 10px;
  width: 150px;
  height: auto;

  }
  .loginAlignFields{
    justify-content: center;
    justify-items: left;
  }
  .fieldSize{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px !important;
    margin-right:20px;   
  }
}

@media(min-width: 768px){
  .text-align{
    text-align: right;
    margin-right: 10px;
    width: 150px;
  height: auto;
  }
  .loginAlignFields{
    justify-content: left;
    text-align: center;
  }
  .fieldSize{
    height: 50px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 80px;
    border-radius: 8px !important;
    min-width:400px;
  }
}

@media(min-width: 900px){
  .loginTitle{
    font-size: 4.5em;
  }
  .text-align{
    text-align: right;
    margin-right: 10px;
    width: 150px;
    height: auto;
  }
  .loginAlignFields{
    justify-content: left;
    text-align: center;
  }
  .fieldSize{
    height: 50px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 80px;
    border-radius: 8px !important;
    min-width:400px;
  }
  
 
}